# package directories
node_modules
jspm_packages

# other source code
cheat-sheets

# Serverless directories
.serverless
.env
# Ignore serverless manifest files
serverless.manifest.json
.serverless/manifest.json